@charset "UTF-8";
@font-face {
  font-family: "Akira";
  src: url("../Fonts/Akira Expanded Demo.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/********************************** HEADER **********************************/
.navbar {
  background-color: #000000;
  z-index: 1;
  position: fixed;
  width: 100%;
}
.navbar img {
  height: 50px;
}
.navbar .navbar-collapse {
  justify-content: flex-end;
}
.navbar .navbar-collapse .nav-link {
  color: #ffffff;
  font-family: "akira";
  margin-right: 10px;
}
.navbar .navbar-collapse .nav-link:hover {
  color: #FD72AB;
}

/********************************** CIERRE HEADER **********************************/
/********************************** INDEX **********************************/
main {
  background-color: #FD72AB;
}
main .section-index {
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section-index img {
  width: 100%;
  padding: 50px 0 0;
}
main .section-index .texto-index {
  width: 100%;
  background-color: black;
  margin: 30px;
}
main .section-index .texto-index p {
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px 80px 30px;
}
main .section-integrantes {
  background-color: #FD72AB;
  width: 100%;
}
main .section-integrantes .titulo-integrantes img {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
main .section-integrantes .integrantes-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main .section-integrantes .integrantes-contenedor .integrantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section-integrantes .integrantes-contenedor .integrantes img {
  width: 304px;
  height: 408px;
}
main .section-integrantes .integrantes-contenedor .integrantes p {
  font-family: "akira";
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 50px;
}

/********************************** CIERRE INDEX **********************************/
/********************************** DISCOGRAFIA **********************************/
main {
  background-color: #000000;
  /*DISCOGRAFIA*/
  /*CIERRE DISCOGRAFIA*/
  /*SENCILLOS Y EPS*/
  /*CIERRE SENCILLOS Y EPS*/
}
main .discografia {
  width: 100%;
  background-color: #FD72AB;
  padding: 0 0 100px;
  /* SECCION ALBUM */
}
main .discografia .title-container {
  width: 100%;
  height: 710px;
  background-image: url(../IMG/usted-senalemelo-estadio-obras.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
main .discografia .title-container h1 {
  font-family: "akira";
  font-size: 70px;
  color: white;
  text-shadow: 5px 5px 15px #000000;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}
main .discografia .album {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .discografia .album .titulo-album {
  display: flex;
  flex-direction: column;
  padding: 100px 100px 10px;
}
main .discografia .album .titulo-album .año {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}
main .discografia .album .titulo-album h4 {
  font-family: "akira";
  color: #ffffff;
  font-size: 30px;
}
main .discografia .album .album-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  padding: 0 100px;
}
main .discografia .album .album-container .portada-album {
  display: flex;
  flex-direction: column;
}
main .discografia .album .album-container .portada-album img {
  width: 500px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
main .discografia .album .album-container .portada-album .youtube {
  padding: 10px 0 0;
}
main .discografia .album .album-container .portada-album .youtube a {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-decoration: underline;
}
main .discografia .album .album-container .lista-album {
  width: 820px;
  display: flex;
  flex-direction: row;
  padding: 5px 40px;
  justify-content: space-between;
}
main .discografia .album .album-container .lista-album ul li {
  font-family: "Montserrat Alternates", sans-serif;
  color: #ffffff;
  display: list-item;
  list-style-type: none;
  padding: 10px;
}
main .section-eps {
  width: 100%;
  padding: 0 0 25px;
}
main .section-eps .title-eps {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .section-eps .title-eps h2 {
  margin: 50px;
  font-family: "akira";
  font-size: 30px;
  color: #ffffff;
}
main .section-eps .grilla-eps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
  padding: 20px 100px;
}
main .section-eps .grilla-eps .lista-eps {
  justify-self: center;
  align-self: center;
}
main .section-eps .grilla-eps .lista-eps iframe {
  height: 355px;
}

/********************************** CIERRE DISCOGRAFIA **********************************/
/********************************** MULTIMEDIA **********************************/
main {
  background-color: #FD72AB;
  /* SECCION GALERIA FOTOS */
  /* CIERRE SECCION GALERIA FOTOS */
  /* SECCION GALERIA VIDEOS */
  /* CIERRE SECCION GALERIA VIDEOS */
}
main .fotos-galeria {
  width: 100%;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .fotos-galeria .title-fotos h1 {
  font-family: "akira";
  font-size: 70px;
  color: white;
  padding: 50px 0 0;
}
main .fotos-galeria .galeria {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px 0 100px 0;
}
main .fotos-galeria .galeria .grilla-fotos {
  display: grid;
  width: 80%;
  grid-template-areas: "ocho ocho ocho ocho ocho tres tres tres" "ocho ocho ocho ocho ocho once once once" "cuatro cuatro cuatro cinco cinco seis seis seis" "siete siete siete siete uno uno uno uno" "nueve nueve nueve nueve dos dos dos dos" "diez diez diez diez dos dos dos dos";
  gap: 10px;
}
main .fotos-galeria .galeria .grilla-fotos img {
  width: 100%;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(1) {
  grid-area: uno;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(2) {
  grid-area: dos;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(3) {
  grid-area: tres;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(4) {
  grid-area: cuatro;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(5) {
  grid-area: cinco;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(6) {
  grid-area: seis;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(7) {
  grid-area: siete;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(8) {
  grid-area: ocho;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(9) {
  grid-area: nueve;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(10) {
  grid-area: diez;
}
main .fotos-galeria .galeria .grilla-fotos img:nth-child(11) {
  grid-area: once;
}
main .videos {
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .videos .title-videos {
  background-color: #000000;
  padding: 100px 20px 20px 20px;
}
main .videos .title-videos h1 {
  font-family: "akira";
  font-size: 70px;
  color: white;
}
main .videos .galeria-videos {
  display: flex;
  justify-content: center;
  align-content: center;
}
main .videos .galeria-videos .grilla-videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px 20px 50px;
  gap: 20px;
}

/********************************** CIERRE MULTIMEDIA **********************************/
/********************************** TOUR **********************************/
main {
  background-color: #000000;
}
main .tour {
  width: 100%;
}
main .tour .imagen-tour {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tour .imagen-tour img {
  padding: 10px 0 0;
  width: 100%;
}
main .tour .contenedor-acordeon {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}
main .tour .contenedor-acordeon .title-tour {
  background-color: #FD72AB;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
main .tour .contenedor-acordeon .title-tour h1 {
  font-family: "akira";
  font-size: 70px;
  margin: 10px 20px;
}
main .tour .contenedor-acordeon .acordeon {
  display: flex;
  flex-direction: column;
}
main .tour .contenedor-acordeon .acordeon label {
  font-family: "akira";
  font-size: 30px;
  cursor: pointer;
  padding: 20px 40px 50px 40px;
  transition: all 300ms ease;
}
main .tour .contenedor-acordeon .acordeon label:hover {
  color: #FD72AB;
}
main .tour .contenedor-acordeon .acordeon .btn-acordeon {
  display: none;
}
main .tour .contenedor-acordeon .acordeon .btn-acordeon:checked ~ .contenido-acordeon {
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 15px 0px;
}
main .tour .contenedor-acordeon .acordeon .contenido-acordeon {
  margin: 0px 40px;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}
main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}
main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-date {
  background-color: #FD72AB;
  font-family: "Akira";
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}
main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-date .show-date-day {
  padding: 0 10px;
}
main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-date .show-date-year {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
}
main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-info .show-country {
  font-family: "Akira";
  font-size: 30px;
}
main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-info .show-info-plus {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 10px;
}
main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-info .show-button button {
  background-color: #FD72AB;
  border: 2px #FD72AB;
  border-radius: 5px;
  font-family: "akira";
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
}

/********************************* CIERRE TOUR *********************************/
/********************************** CONTACTANOS **********************************/
.contactanos {
  height: auto;
  width: 100%;
  background-image: url(../IMG/usted-group.webp);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactanos .form-container {
  padding: 200px 0 100px;
}
.contactanos .form-container .form-input-container {
  padding: 0 50px;
  background-color: rgba(220, 220, 220, 0.7);
  box-shadow: 10px 10px 15px #000000 0, 0, 0, 0.7;
}
.contactanos .form-container .form-input-container .form-titulo h2 {
  font-family: "akira";
  font-size: 70px;
  color: #ffffff;
  text-shadow: 5px 5px 15px #000000;
  text-align: center;
  padding: 30px 0;
}
.contactanos .form-container .form-input-container .form-label {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.contactanos .form-container .form-input-container .form-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
}
.contactanos .form-container .form-input-container .btn-contenedor {
  display: flex;
  justify-content: center;
}
.contactanos .form-container .form-input-container .form-control {
  border: 1px solid #FD72AB;
}
.contactanos .form-container .form-input-container .form-check-input:checked {
  background-color: #FD72AB;
  border-color: #FD72AB;
}
.contactanos .form-container .form-input-container .btn {
  background-color: #FD72AB;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "akira";
  font-size: 20px;
  padding: 10px;
}

/********************************** CIERRE CONTACTANOS **********************************/
/********************************** FOOTER **********************************/
.footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0 30px;
}
.footer .nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 25px;
}
.footer .nav-list ul li {
  display: inline;
  list-style-type: none;
}
.footer .nav-list ul li a {
  font-family: "Montserrat Alternates", sans-serif;
  color: #ffffff;
  font-size: 15px;
  text-decoration: underline;
  padding: 10px 20px;
}
.footer .redes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}
.footer .redes .titulo-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px;
}
.footer .redes .titulo-redes h4 {
  font-family: "akira";
  font-size: 15px;
  color: #ffffff;
}
.footer .redes .iconos-redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .redes .iconos-redes ul {
  display: flex;
}
.footer .redes .iconos-redes ul li {
  display: inline;
  list-style-type: none;
  padding: 0px 20px;
}
.footer .copyright {
  width: 100%;
  padding: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 10px;
  color: #ffffff;
  text-align: center;
}

/********************************** CIERRE FOOTER **********************************/
/******************************************************************************************************MOBILE******************************************************************************************************/
@media (min-width: 328px) and (max-width: 480px) {
  /************ HEADER ************/
  .navbar {
    background-color: #FD72AB;
  }
  .navbar img {
    height: 40px;
  }
  .navbar .navbar-toggler {
    height: 40px;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    height: 20px;
  }
  .navbar .nav-link {
    color: white;
    font-family: "akira";
    margin-right: 10px;
  }
  /************ CIERRE HEADER ************/
  /************ INDEX ************/
  main .imagen-index img {
    padding: 58px 0 0;
  }
  main .section-index .texto-index {
    margin: 10px;
  }
  main .section-index .texto-index p {
    font-size: 15px;
    text-align: center;
    padding: 15px 20px;
  }
  main .titulo-integrantes img {
    margin-bottom: 20px;
  }
  main .section-integrantes .integrantes-contenedor {
    flex-direction: column;
    justify-content: center;
  }
  main .section-integrantes .integrantes-contenedor img {
    width: 200px;
    height: 268px;
  }
  main .section-integrantes .integrantes-contenedor img p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  /************ CIERRE INDEX ************/
  /************ DISCOGRAFIA ************/
  main .discografia {
    padding: 0 0 50px;
  }
  main .discografia .title-container {
    height: 625px;
  }
  main .discografia .title-container h1 {
    font-size: 30px;
  }
  main .discografia .album .titulo-album {
    padding: 100px 15px 10px;
  }
  main .discografia .album .album-container {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding: 0 15px;
    justify-items: flex-start;
  }
  main .discografia .album .album-container .lista-album {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px 0;
  }
  main .discografia .album .album-container .lista-album .lista-cancion-album ul {
    padding-left: 0;
  }
  main .discografia .album .album-container .portada-album img {
    width: 290px;
    border: 2px solid white;
    border-radius: 10px;
  }
  /* SENCILLOS Y EPS*/
  main .section-eps .title-eps {
    background-color: black;
  }
  main .section-eps .title-eps h2 {
    margin: 20px 70px;
    text-align: center;
  }
  main .section-eps .grilla-eps {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 100px);
    padding: 50px 15px;
  }
  main .section-eps .grilla-eps .lista-eps iframe {
    height: 90px;
  }
  /************ CIERRE DISCOGRAFIA ************/
  /************ MULTIMEDIA ************/
  main .fotos-galeria {
    padding: 35px;
  }
  main .fotos-galeria .title-fotos h1 {
    font-size: 50px;
  }
  main .fotos-galeria .galeria {
    padding: 20px 0;
  }
  main .fotos-galeria .galeria .grilla-fotos {
    width: 100%;
  }
  main .videos .title-videos h1 {
    font-size: 50px;
  }
  main .videos .galeria-videos .grilla-videos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    padding: 20px 0px 50px;
    gap: 20px;
  }
  /************ CIERRE MULTIMEDIA ************/
  /************ TOUR ************/
  main {
    background-color: #000000;
  }
  main .tour {
    width: 100%;
  }
  main .tour .imagen-tour img {
    padding: 65px 0 0;
  }
  main .tour .contenedor-acordeon .title-tour {
    margin-bottom: 35px;
  }
  main .tour .contenedor-acordeon .title-tour h1 {
    font-size: 30px;
    text-align: center;
  }
  main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item {
    flex-direction: column;
    align-items: normal;
  }
  main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-date {
    width: 100%;
    text-align: center;
  }
  main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-info {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  main .tour .contenedor-acordeon .acordeon .contenido-acordeon .show-item .show-info .show-button {
    margin-top: 10px;
  }
  /************ CIERRE TOUR ************/
  /************ CONTACTO ************/
  .contactanos {
    background-size: cover;
  }
  .contactanos .form-container {
    padding: 150px 0 100px;
  }
  .contactanos .form-container .row {
    margin: 0;
  }
  .contactanos .form-container .row .form-input-container {
    padding: 0 10px;
  }
  .contactanos .form-container .row .form-input-container .form-titulo h2 {
    font-size: 30px;
  }
  /************ CIERRE CONTACTO ************/
  /************ FOOTER ************/
  .footer .nav-list {
    justify-content: flex-start;
    padding: 0;
  }
  .footer .nav-list ul li {
    display: list-item;
    padding: 5px;
  }
  .footer .nav-list ul li a {
    font-size: 15px;
  }
  .footer .redes .titulo-redes h4 {
    font-size: 12px;
  }
  .footer .redes .iconos-redes ul li img {
    height: 35px;
  }
  .footer .copyright {
    padding: 0;
  }
  .footer .copyright p {
    font-size: 9px;
  }
  /************ CIERRE FOOTER ************/
}/*# sourceMappingURL=style.css.map */