@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@font-face {
  font-family: "Akira";
  src: url("../Fonts/Akira Expanded Demo.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/********************************** HEADER **********************************/
header a.back-to-top {
  z-index: 5;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff url(../IMG/up-arrow.webp) no-repeat center;
  background-size: 65%;
}
header a.back-to-top:hover {
  background-color: #FD72AB;
}
header .navbar {
  background-color: #000000;
  z-index: 4;
  position: fixed;
  width: 100%;
}
header .navbar img {
  height: 50px;
}
header .navbar .navbar-collapse {
  justify-content: flex-end;
}
header .navbar .navbar-collapse .nav-link {
  color: #ffffff;
  font-family: "akira";
  margin-right: 10px;
}
header .navbar .navbar-collapse .nav-link:hover {
  color: #FD72AB;
}

/********************************** CIERRE HEADER **********************************/
/********************************** INDEX **********************************/
#index {
  background-color: #FD72AB;
}
#index .section-index {
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#index .section-index img {
  width: 100%;
  padding: 50px 0 0;
}
#index .section-index .texto-index {
  width: 100%;
  background-color: #000000;
  margin: 30px;
}
#index .section-index .texto-index p {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 20px 80px 30px;
}
#index .section-integrantes {
  background-color: #FD72AB;
  width: 100%;
}
#index .section-integrantes .titulo-integrantes {
  width: 100%;
  height: 200px;
  background-image: url(../IMG/titulo-integrantes.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#index .section-integrantes .titulo-integrantes h1 {
  font-family: "akira";
  font-size: 70px;
  color: #ffffff;
  text-shadow: 5px 5px 20px #000000;
}
#index .section-integrantes .integrantes-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#index .section-integrantes .integrantes-contenedor .integrantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#index .section-integrantes .integrantes-contenedor .integrantes img {
  width: 304px;
  height: 408px;
}
#index .section-integrantes .integrantes-contenedor .integrantes p {
  font-family: "akira";
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 50px;
}

/********************************** CIERRE INDEX **********************************/
/********************************** DISCOGRAFIA **********************************/
#discografia {
  background-color: #000000;
  /*DISCOGRAFIA*/
  /*CIERRE DISCOGRAFIA*/
  /*SENCILLOS Y EPS*/
  /*CIERRE SENCILLOS Y EPS*/
}
#discografia .discografia {
  width: 100%;
  background-color: #FD72AB;
  padding: 0 0 100px;
  /* SECCION ALBUM */
}
#discografia .discografia .title-container {
  width: 100%;
  height: 710px;
  background-image: url(../IMG/usted-senalemelo-estadio-obras.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#discografia .discografia .title-container h1 {
  font-family: "akira";
  font-size: 70px;
  color: #ffffff;
  text-shadow: 5px 5px 15px #000000;
  margin-bottom: 30px;
}
#discografia .discografia .album {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
#discografia .discografia .album .titulo-album {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  padding: 100px 100px 10px;
}
#discografia .discografia .album .titulo-album .año {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}
#discografia .discografia .album .titulo-album h4 {
  font-family: "akira";
  color: #ffffff;
  font-size: 35px;
}
#discografia .discografia .album .album-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  padding: 0 100px;
}
#discografia .discografia .album .album-container .portada-album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#discografia .discografia .album .album-container .portada-album img {
  width: 500px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
#discografia .discografia .album .album-container .portada-album .youtube {
  padding: 10px 0 0;
}
#discografia .discografia .album .album-container .portada-album .youtube a {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-decoration: underline;
}
#discografia .discografia .album .album-container .lista-album {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 5px 40px;
}
#discografia .discografia .album .album-container .lista-album ul li {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  display: list-item;
  list-style-type: none;
  padding: 10px;
}
#discografia .section-eps {
  width: 100%;
  padding: 30px 0 25px;
}
#discografia .section-eps .title-eps {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#discografia .section-eps .title-eps h2 {
  margin: 50px;
  font-family: "akira";
  font-size: 50px;
  color: #ffffff;
  text-shadow: 5px 5px 15px #000000;
}
#discografia .section-eps .grilla-eps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
  /*padding: 20px 100px;*/
}
#discografia .section-eps .grilla-eps .lista-eps {
  justify-self: center;
  align-self: center;
}
#discografia .section-eps .grilla-eps .lista-eps iframe {
  height: 355px;
}

/********************************** CIERRE DISCOGRAFIA **********************************/
/********************************** MULTIMEDIA **********************************/
#multimedia {
  background-color: #000000;
  /* SECCION GALERIA FOTOS */
  /* CIERRE SECCION GALERIA FOTOS */
  /* SECCION GALERIA VIDEOS */
  /* CIERRE SECCION GALERIA VIDEOS */
}
#multimedia .fotos-galeria {
  width: 100%;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#multimedia .fotos-galeria .title-fotos h1 {
  font-family: "akira";
  font-size: 70px;
  color: #ffffff;
  padding: 50px 0 0;
}
#multimedia .fotos-galeria .galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 100px 0;
}
#multimedia .fotos-galeria .galeria .grilla-fotos {
  display: grid;
  width: 80%;
  grid-template-areas: "ocho ocho ocho ocho ocho tres tres tres" "ocho ocho ocho ocho ocho once once once" "cuatro cuatro cuatro cinco cinco seis seis seis" "siete siete siete siete uno uno uno uno" "nueve nueve nueve nueve dos dos dos dos" "diez diez diez diez dos dos dos dos";
  gap: 10px;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img {
  width: 100%;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(1) {
  grid-area: uno;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(2) {
  grid-area: dos;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(3) {
  grid-area: tres;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(4) {
  grid-area: cuatro;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(5) {
  grid-area: cinco;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(6) {
  grid-area: seis;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(7) {
  grid-area: siete;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(8) {
  grid-area: ocho;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(9) {
  grid-area: nueve;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(10) {
  grid-area: diez;
}
#multimedia .fotos-galeria .galeria .grilla-fotos img:nth-child(11) {
  grid-area: once;
}
#multimedia .videos {
  width: 100%;
  background-color: #FD72AB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#multimedia .videos .title-videos {
  padding: 100px 20px 20px 20px;
}
#multimedia .videos .title-videos h2 {
  font-family: "akira";
  font-size: 70px;
  color: #ffffff;
  text-shadow: 5px 5px 15px #000000;
}
#multimedia .videos .galeria-videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#multimedia .videos .galeria-videos .grilla-videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px 0 50px;
  gap: 20px;
}

/********************************** CIERRE MULTIMEDIA **********************************/
/********************************** TOUR **********************************/
#tour {
  background-color: #000000;
}
#tour .tour {
  width: 100%;
}
#tour .tour .imagen-tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tour .tour .imagen-tour img {
  padding: 10px 0 0;
  width: 100%;
}
#tour .tour .contenedor-acordeon {
  padding-bottom: 100px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}
#tour .tour .contenedor-acordeon .info-gira {
  margin: 50px 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tour .tour .contenedor-acordeon .info-gira h5 {
  font-size: 30px;
  font-family: "akira";
  text-align: center;
  color: #FD72AB;
  margin-bottom: 50px;
}
#tour .tour .contenedor-acordeon .info-gira p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
#tour .tour .contenedor-acordeon .title-tour {
  background-color: #FD72AB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
#tour .tour .contenedor-acordeon .title-tour h1 {
  font-family: "akira";
  color: #ffffff;
  font-size: 70px;
  text-shadow: 5px 5px 15px #000000;
  margin: 10px 20px;
}
#tour .tour .contenedor-acordeon .accordion {
  --bs-accordion-btn-bg: #000000;
  --bs-accordion-active-bg: #000000;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: #000000;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item h2 .accordion-button {
  font-family: "akira";
  font-size: 35px;
  color: #ffffff;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item h2 .accordion-button:hover {
  color: #FD72AB;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 50px 20px 15px;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: #ffffff;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-date {
  background-color: #FD72AB;
  font-size: 35px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  margin-right: 40px;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-date .show-date-day {
  padding: 0 10px;
  font-family: "Akira";
}
#tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-date .show-date-year {
  font-family: "Akira";
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-info .show-title .show-country {
  font-family: "Akira";
  font-size: 30px;
}
#tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-info .show-button button {
  background-color: #FD72AB;
  border: 2px #FD72AB;
  border-radius: 5px;
  font-family: "akira";
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
}

/********************************* CIERRE TOUR *********************************/
.accordion .accordion-item h2 .accordion-button::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:%23ffffff}</style><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');
}
.accordion .accordion-item h2 .accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:%23fd72ab}</style><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');
}

/********************************** CONTACTANOS **********************************/
#contacto {
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contacto .form-titulo {
  height: 1000px;
  width: 100%;
  background-image: url(../IMG/crop-usted-senalemelo-5.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#contacto .form-titulo h1 {
  font-family: "akira";
  font-size: 70px;
  color: #ffffff;
  text-shadow: 5px 5px 15px #000000;
  margin-bottom: 30px;
}
#contacto .contactanos-formulario {
  width: 100%;
  margin-top: 50px;
}
#contacto .contactanos-formulario .form-container {
  padding: 50px 0;
}
#contacto .contactanos-formulario .form-container .mb-3 {
  margin-bottom: 30px !important;
}
#contacto .contactanos-formulario .form-container .form-input-container {
  padding: 0 50px;
  color: #ffffff;
}
#contacto .contactanos-formulario .form-container .form-input-container .form-label {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 900;
}
#contacto .contactanos-formulario .form-container .form-input-container .form-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}
#contacto .contactanos-formulario .form-container .form-input-container .btn-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contacto .contactanos-formulario .form-container .form-input-container .form-control {
  border: 1px solid #FD72AB;
}
#contacto .contactanos-formulario .form-container .form-input-container .form-check-input:checked {
  background-color: #FD72AB;
  border-color: #FD72AB;
}
#contacto .contactanos-formulario .form-container .form-input-container .btn {
  background-color: #FD72AB;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "akira";
  font-size: 20px;
  padding: 10px;
}

/********************************** CIERRE CONTACTANOS **********************************/
/********************************** FOOTER **********************************/
.footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 15px;
}
.footer .nav-list {
  padding: 15px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
}
.footer .nav-list ul {
  padding: 0;
}
.footer .nav-list ul li {
  display: inline;
  list-style-type: none;
}
.footer .nav-list ul li a {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 15px;
  text-decoration: underline;
  padding: 10px 20px;
}
.footer .redes {
  margin: 20px 0;
}
.footer .redes .titulo-redes p {
  font-family: "akira";
  font-size: 15px;
  color: #ffffff;
}
.footer .redes .iconos-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .redes .iconos-redes ul {
  padding: 10px 0 0;
}
.footer .redes .iconos-redes ul li {
  display: inline;
  list-style-type: none;
  padding: 0px 20px;
}
.footer .copyright {
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .copyright p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

/********************************** CIERRE FOOTER **********************************/
/******************************************************************************************************MOBILE******************************************************************************************************/
@media (min-width: 328px) and (max-width: 480px) {
  /************ HEADER ************/
  header a.back-to-top:hover {
    background-color: #ffffff;
  }
  header .navbar {
    background-color: #FD72AB;
  }
  header .navbar img {
    height: 40px;
  }
  header .navbar .navbar-toggler {
    height: 40px;
  }
  header .navbar .navbar-toggler .navbar-toggler-icon {
    height: 20px;
  }
  header .navbar .nav-link {
    color: #ffffff;
    font-family: "akira";
    margin-right: 10px;
  }
  header .navbar .nav-link:hover {
    color: #ffffff;
  }
  /************ CIERRE HEADER ************/
  /************ INDEX ************/
  #index .imagen-index img {
    padding: 58px 0 0;
  }
  #index .section-index .texto-index {
    margin: 10px;
  }
  #index .section-index .texto-index p {
    font-size: 15px;
    text-align: center;
    padding: 15px 20px;
  }
  #index .section-integrantes .titulo-integrantes {
    height: 150px;
  }
  #index .section-integrantes .titulo-integrantes h1 {
    font-size: 30px;
  }
  #index .section-integrantes .integrantes-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;
    justify-content: center;*/
  }
  #index .section-integrantes .integrantes-contenedor img {
    width: 200px;
    height: 268px;
  }
  #index .section-integrantes .integrantes-contenedor img p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  /************ CIERRE INDEX ************/
  /************ DISCOGRAFIA ************/
  #discografia {
    /* SENCILLOS Y EPS*/
  }
  #discografia .discografia {
    padding: 0 0 50px;
  }
  #discografia .discografia .title-container {
    height: 625px;
  }
  #discografia .discografia .title-container h1 {
    font-size: 35px;
  }
  #discografia .discografia .album .titulo-album {
    padding: 100px 15px 10px;
  }
  #discografia .discografia .album .titulo-album h4 {
    font-size: 30px;
  }
  #discografia .discografia .album .album-container {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding: 0 15px;
    justify-items: flex-start;
  }
  #discografia .discografia .album .album-container .lista-album {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    /*display: flex;
    flex-direction: row;*/
    padding: 30px 0;
  }
  #discografia .discografia .album .album-container .lista-album .lista-cancion-album ul {
    padding-left: 0;
  }
  #discografia .discografia .album .album-container .portada-album img {
    width: 290px;
    border: 2px solid #ffffff;
    border-radius: 10px;
  }
  #discografia .section-eps .title-eps {
    background-color: #000000;
  }
  #discografia .section-eps .title-eps h2 {
    margin: 20px 70px;
    text-align: center;
    font-size: 30px;
  }
  #discografia .section-eps .grilla-eps {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 100px);
    padding: 50px 15px;
  }
  #discografia .section-eps .grilla-eps .lista-eps iframe {
    height: 90px;
  }
  /************ CIERRE DISCOGRAFIA ************/
  /************ MULTIMEDIA ************/
  #multimedia .fotos-galeria {
    padding: 50px 35px 35px;
  }
  #multimedia .fotos-galeria .title-fotos h1 {
    font-size: 30px;
  }
  #multimedia .fotos-galeria .galeria .grilla-fotos {
    width: 100%;
    grid-template-areas: "ocho ocho ocho ocho ocho ocho ocho ocho" "tres tres tres tres tres tres tres tres" "once once once once once once once once" "cinco cinco cinco cinco cinco cinco cinco cinco" "cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro" "seis seis seis seis seis seis seis seis" "siete siete siete siete siete siete siete siete" "dos dos dos dos dos dos dos dos" "uno uno uno uno uno uno uno uno" "nueve nueve nueve nueve nueve nueve nueve nueve" "diez diez diez diez diez diez diez diez ";
  }
  #multimedia .videos .title-videos h2 {
    font-size: 30px;
  }
  #multimedia .videos .galeria-videos .grilla-videos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 20px 0px 50px;
    gap: 20px;
  }
  /************ CIERRE MULTIMEDIA ************/
  /************ TOUR ************/
  #tour {
    background-color: #000000;
  }
  #tour .tour {
    width: 100%;
  }
  #tour .tour .imagen-tour img {
    padding: 65px 0 0;
  }
  #tour .tour .contenedor-acordeon {
    padding-bottom: 0;
  }
  #tour .tour .contenedor-acordeon .info-gira {
    margin: 50px 20px 30px;
  }
  #tour .tour .contenedor-acordeon .info-gira h5 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  #tour .tour .contenedor-acordeon .info-gira p {
    font-size: 15px;
  }
  #tour .tour .contenedor-acordeon .title-tour {
    margin-bottom: 35px;
  }
  #tour .tour .contenedor-acordeon .title-tour h1 {
    font-size: 35px;
    text-align: center;
  }
  #tour .tour .contenedor-acordeon .accordion .accordion-item h2 .accordion-button {
    font-size: 20px;
  }
  #tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0 15px 10px;
  }
  #tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }
  #tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-date {
    font-size: 20px;
    margin-right: 20px;
    line-height: 4em;
  }
  #tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-info {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    /*flex-direction: column;
    align-items: flex-start;*/
    font-size: 15px;
  }
  #tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-info .show-title .show-country {
    font-size: 18px;
  }
  #tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-info .show-button {
    margin-top: 10px;
  }
  #tour .tour .contenedor-acordeon .accordion .accordion-item .accordion-collapse .accordion-body .show-item .show-info .show-button button {
    font-size: 15px;
  }
  /************ CIERRE TOUR ************/
  /************ CONTACTO ************/
  #contacto .form-titulo {
    height: 330px;
    margin-top: 50px;
  }
  #contacto .form-titulo h1 {
    font-size: 30px;
  }
  #contacto .contactanos-formulario .form-container {
    padding: 0 0 30px;
  }
  #contacto .contactanos-formulario .form-container .row {
    margin: 0;
  }
  #contacto .contactanos-formulario .form-container .row .form-input-container {
    padding: 0 10px;
  }
  #contacto .contactanos-formulario .form-container .row .form-input-container .form-titulo h1 {
    font-size: 20px;
  }
  /************ CIERRE CONTACTO ************/
  /************ FOOTER ************/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }
  .footer .nav-list ul li {
    display: list-item;
    padding: 5px;
  }
  .footer .nav-list ul li a {
    font-size: 15px;
  }
  .footer .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .redes .titulo-redes p {
    font-size: 15px;
    text-align: center;
  }
  .footer .redes .iconos-redes ul li img {
    height: 35px;
  }
  .footer .copyright {
    padding: 0;
  }
  .footer .copyright p {
    font-size: 9px;
  }
  /************ CIERRE FOOTER ************/
}
/****************************************************************************************************** CIERRE MOBILE******************************************************************************************************//*# sourceMappingURL=style.css.map */