/********************************** CONTACTANOS **********************************/
#contacto{
    width: 100%;
    background-color: $color-secundario;
    @include flex(flex, column,center,center);
    .form-titulo{
        height: 1000px;
        width: 100%;
        background-image: url(../IMG/crop-usted-senalemelo-5.webp);
        background-position: center;
        background-size: cover;
        @include flex(flex, column, flex-end,center);
        h1{
            font-family: "akira";
            font-size: map-get($tamanios,h1);
            color: $color-texto;
            text-shadow: 5px 5px 15px $color-secundario;
            margin-bottom: 30px;
        }
    }
    .contactanos-formulario{
        width: 100%;
        margin-top: 50px;
        .form-container{
            padding: 50px 0;
            .mb-3{
                margin-bottom: 30px !important;
            }
            .form-input-container{
                padding: 0 50px;
                color: $color-texto;
                .form-label{
                    font-family: 'Montserrat', sans-serif;
                    font-size: map-get($tamanios,h6);
                    font-weight: 900;
                }
                .form-text{
                    font-family: 'Montserrat', sans-serif;
                    font-size: map-get($tamanios,p);
                    font-weight: 500;
                    color: $color-texto
                }
                .btn-contenedor{
                    @include flex(flex,column,center,center);
                }
                .form-control{
                    border: 1px solid $color-primario;
                }
                .form-check-input:checked{
                    background-color: $color-primario;
                    border-color: $color-primario;
                }
                .btn{
                    background-color: $color-primario;
                    margin-bottom: 30px;
                    color: $color-texto;
                    font-family: "akira";
                    font-size: map-get($tamanios,h6);
                    padding: 10px;
                }
            }
        }
    }
}
/********************************** CIERRE CONTACTANOS **********************************/