/********************************** FOOTER **********************************/
.footer {
    background-color: $color-secundario;
    @include flex(flex,column,center,center);
    padding: 50px 0 15px;
    .nav-list {
        padding: 15px 0 25px;
        @include flex(flex,column,flex-start, none);
        ul {
            padding: 0;
            li {
                display: inline;
                list-style-type: none;
                a {
                    font-family: 'Montserrat', sans-serif;
                    color: $color-texto;
                    font-size: map-get($tamanios,p);
                    text-decoration: underline;
                    padding: 10px 20px;
                }
            }
        }
    }
    .redes {
        margin: 20px 0;
        .titulo-redes p {
            font-family: "akira";
            font-size: map-get($tamanios,p);
            color: $color-texto;
        }
        .iconos-redes {
            @include flex(flex,row,center,center);
            ul {
                padding: 10px 0 0;
                li {
                    display: inline;
                    list-style-type: none;
                    padding: 0px 20px;
                }
            }
        }
    }
    .copyright {
        padding: 20px 0 0;
        @include flex(flex,column,center,center);
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            color: $color-texto;
            text-align: center;
        }
    }
}
/********************************** CIERRE FOOTER **********************************/