/********************************** HEADER **********************************/
header{
    a.back-to-top {
        position: fixed;
        right: 20px;
        bottom: 20px;
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $color-texto url(../IMG/up-arrow.webp) no-repeat center;
        background-size: 65%;
        &:hover{
            background-color: $color-primario;
        }
    }
    .navbar{
        background-color: $color-secundario;
        z-index: 1;
        position: fixed;
        width: 100%;
        img{
            height: 50px;
        }
        .navbar-collapse{
            justify-content: flex-end;
            .nav-link{
                color: $color-texto;
                font-family: "akira";
                margin-right: 10px;
                &:hover{
                    color: $color-primario;
                }
            }
        }
    }
}
/********************************** CIERRE HEADER **********************************/