/********************************** HEADER **********************************/
.navbar{
    background-color: $color-secundario;
    z-index: 1;
    position: fixed;
    width: 100%;
    img{
        height: 50px;
    }
    .navbar-collapse{
        justify-content: flex-end;
        .nav-link{
            color: $color-texto;
            font-family: "akira";
            margin-right: 10px;
            &:hover{
                color: $color-primario;
            }
        }
    }
}
/********************************** CIERRE HEADER **********************************/