/********************************** MULTIMEDIA **********************************/
#multimedia{
    background-color: $color-secundario;
    /* SECCION GALERIA FOTOS */
    .fotos-galeria {
        width: 100%;
        padding: 100px 0 0 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title-fotos h1 {
            font-family: "akira";
            font-size: 70px;
            color: $color-texto;
            padding: 50px 0 0;
        }
        .galeria {
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 50px 0 100px 0;
            .grilla-fotos{
                display: grid;
                width: 80%;
                grid-template-areas:
                "ocho ocho ocho ocho ocho tres tres tres"
                "ocho ocho ocho ocho ocho once once once"
                "cuatro cuatro cuatro cinco cinco seis seis seis"
                "siete siete siete siete uno uno uno uno"
                "nueve nueve nueve nueve dos dos dos dos"
                "diez diez diez diez dos dos dos dos";
                gap: 10px;
                img{
                    width: 100%;
                    &:nth-child(1){
                        grid-area: uno;
                    }
                    &:nth-child(2){
                        grid-area: dos;
                    }
                    &:nth-child(3){
                        grid-area: tres;
                    }
                    &:nth-child(4){
                        grid-area: cuatro;
                    }
                    &:nth-child(5){
                        grid-area: cinco;
                    }
                    &:nth-child(6){
                        grid-area: seis;
                    }
                    &:nth-child(7){
                        grid-area: siete;
                    }
                    &:nth-child(8){
                        grid-area: ocho;
                    }
                    &:nth-child(9){
                        grid-area: nueve;
                    }
                    &:nth-child(10){
                        grid-area: diez;
                    }
                    &:nth-child(11){
                        grid-area: once;
                    }
                }
            }
        }
    }
    /* CIERRE SECCION GALERIA FOTOS */
    /* SECCION GALERIA VIDEOS */
    .videos {
        width: 100%;
        background-color: $color-primario;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title-videos {
            padding: 100px 20px 20px 20px;
            h2 {
                font-family: "akira";
                font-size: 70px;
                color:$color-texto;
                text-shadow: 5px 5px 15px $color-secundario;
            }
        }
        .galeria-videos {
            display: flex;
            justify-content: center;
            align-content: center;
            .grilla-videos {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                padding: 20px 20px 50px;
                gap: 20px;
            }
        }
    }
    /* CIERRE SECCION GALERIA VIDEOS */
}

/********************************** CIERRE MULTIMEDIA **********************************/