/********************************** TOUR **********************************/
#tour {
    background-color: $color-secundario;
    .tour {
        width: 100%;
        .imagen-tour {
            @include flex(flex,column,center,center);
            img {
                padding: 10px 0 0;
                width: 100%;
            }
        }
        .contenedor-acordeon {
            width: 100%;
            background-color: $color-secundario;
            color: $color-texto;
            .title-tour {
                background-color: $color-primario;
                @include flex(flex,column,center,center);
                margin-bottom: 80px;
                h1 {
                    font-family: "akira";
                    font-size: 70px;
                    text-shadow: 5px 5px 15px $color-secundario;
                    margin: 10px 20px;
                }
            }
            .accordion {
                --bs-accordion-btn-bg: #{$color-secundario};
                --bs-accordion-active-bg: #{$color-secundario};
                --bs-accordion-btn-focus-box-shadow: none;
                --bs-accordion-bg: #{$color-secundario};
                .accordion-item {
                    @include flex(flex,column,none,none);
                    h2 .accordion-button {
                        font-family: "akira";
                        font-size: map-get($tamanios,h4);
                        color: $color-texto;
                        &:hover {
                            color: $color-primario;
                        }
                    }
                    .accordion-collapse .accordion-body {
                        padding: 50px 20px 15px;
                        .show-item {
                            @include flex(flex,row,center,center);
                            margin-bottom: 50px;
                            color: $color-texto;
                            .show-date {
                                background-color: $color-primario;
                                font-size: map-get($tamanios,h4);
                                letter-spacing: 1px;
                                @include flex(flex,column,center,none);
                                margin-right: 40px;
                                .show-date-day {
                                    padding: 0 10px;
                                    font-family: "Akira";
                                }
                                .show-date-year {
                                    font-family: "Akira";
                                    background-color: $color-texto;
                                    color: $color-secundario;
                                    font-size: map-get($tamanios,h6);
                                    @include flex(flex,row,center,center);
                                }
                            }
                            .show-info {
                                width: 100%;
                                @include flex(flex,row,space-between,center);
                                font-family: 'Montserrat', sans-serif;
                                font-size: map-get($tamanios,h6);
                                .show-title .show-country {
                                    font-family: "Akira";
                                    font-size: map-get($tamanios,h5);
                                }
                                .show-button button {
                                    background-color: $color-primario;
                                    border: 2px $color-primario;
                                    border-radius: 5px;
                                    font-family: "akira";
                                    color: $color-texto;
                                    padding: 10px;
                                    font-size: map-get($tamanios,h6);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/********************************* CIERRE TOUR *********************************/