/********************************** INDEX **********************************/
#index {
    background-color: $color-primario;
    .section-index {
        background-color: $color-secundario;
        width: 100%;
        @include flex(flex,column,center,center);
        img {
            width: 100%;
            padding: 50px 0 0;
        }
        .texto-index {
            width: 100%;
            background-color: $color-secundario;
            margin: 30px;
            p {
                font-family: 'Montserrat', sans-serif;
                color: $color-texto;
                font-size: map-get($tamanios,h6);
                text-align: center;
                padding: 20px 80px 30px;
            }
        }
    }
    .section-integrantes {
        background-color: $color-primario;
        width: 100%;
        .titulo-integrantes {
            width: 100%;
            height: 200px;
            background-image: url(../IMG/titulo-integrantes.webp);
            background-size: cover;
            @include flex(flex,column,center,center);
            margin-bottom: 50px;
            h1{
                font-family: "akira";
                font-size: map-get($tamanios,h1);
                color: $color-texto;
                text-shadow: 5px 5px 20px $color-secundario;
            }
        }
        .integrantes-contenedor{
            @include flex(flex,row,space-evenly,center);
            .integrantes {
                @include flex(flex,column,center,center);
                img {
                    width: 304px;
                    height: 408px;
                }
                p {
                    font-family: "akira";
                    color: $color-texto;
                    font-size: map-get($tamanios,h6);
                    text-align: center;
                    padding: 20px 0;
                    margin-bottom: 50px;
                }
            }
        }
    }
}
/********************************** CIERRE INDEX **********************************/